*{
    /*   border: solid 1px; */
      font-family:微軟正黑體;
      position:relative;
    }
    html,body{
      width:100%;height:100%;
      padding:0px;margin:0px;
    }
    body{
      background-color:#d1d1d1;
      border-top: solid 20px #f24;
      border-bottom:solid 20px #f24;
      box-sizing:border-box;
      overflow:hidden;
    }
      
    
    .namecard{
      width:350px;height:200px;
      padding:20px;
      margin-left:auto;
      margin-right:auto;
      margin-top:150px;
      background-color:#eee;
      letter-spancing:1px;
      color:#666;
      overflow:hidden;
      border: solid 1px rgba(0,0,0,0.15);
      border-radius:6px;
      box-shadow: 0px 0ps 15px rgba(0,0,0,0.2)
    }
    .namecaerd h2{
      font-size:25px;
    }
    .namecard h2 span{
      font-size:12px;
      font-weight:700px;
    }
    .namecard h5{
      color:#f24;
    }
    .namecard p{
      font-size:12px;
      line-Weight:22px;
    }
    
    .circle{
      width:100px; height:100px;
      border-radius:100%;
      position:absolute;
    }
    .circle1{
      right:100px;
      bottom:-60px;
      background-color:#f24;
    }
    .circle2{
      width:70px;height:70px;
      right:-20px;
      top:-20px;
      border:solid 3px #f24;
      
    }
    
    .page_title{
      text-align:center;
      color:#555;
    }
    .mark{
      font-size:300px;
      position:absolute;
      bottom:100px;
      font-weight:100;
      color: rgba(0,0,0,0.4)
    }